:root {
  --bg-color: #007ac0;
  --form-bg-color: #fff;
  --app-title-color: #000;
  --input-bg-color: #f0f0f0;
  --input-color: #757575;
  --sbm-color: #007ac0;
  --sbm-color-hover: rgb(0, 90, 143);
}

:root[theme='dark'] {
  --bg-color: #0d0d0d;
  --form-bg-color: #19191a;
  --app-title-color: #fff;
  --input-bg-color: #232324;
  --input-color: #ffffff;
  --sbm-color: #454647;
  --sbm-color-hover: #2c2c2c;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  min-height: 100%;
  background-color: var(--bg-color);
  color: var(--app-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
  transition: 0.3s;
}

.container {
  padding-top: 10%;
  margin: 20px auto;
  width: 350px;
}

.signup {
  background-color: var(--form-bg-color);
  padding: 20px;
  border-radius: 5px
}

.app-title {
  text-align: center;
}

.signup-form {
  text-align: center;
}

.input-field {
  margin-bottom: 15px;
}

input {
  text-align: center;
  background-color: var(--input-bg-color);
  color: var(--input-color);
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 10px 0;
  width: 100%;
  font-size: 12pt;
}

input:focus {
  border: 2px solid var(--bg-color);
}

.submit-btn {
  background: var(--sbm-color);
  color: #ffffff;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  width: 100%;
}

.submit-btn:hover {
  background: var(--sbm-color-hover);
}

.theme-btn {
  background-color: var(--form-bg-color);
  border-radius: 12px 0 0 12px;
  justify-content: center;
  position: fixed;
  top: 80%;
  right: 0px;
  padding: 3px 8px;
  width: 70px;
  height: 50px;
  z-index: 999;
}

svg {
  color: var(--input-color);
  width: 45px;
  height: 45px;
}